body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #222;
  font-family: arial,sans-serif;
  text-align:center;}
.logo{ margin: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: url("https://www.google.ca/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png");
background-origin: padding-box;
background-position: 0% 0%;
background-repeat: no-repeat;
background-size: 272px 92px;
color: rgb(34, 34, 34);
font-family: arial,sans-serif;
font-size: 13px;
height: 92px;
width: 272px;
margin-top: 180px;
}
form{color:grey;}
input[type=text]{
    width: 50%;
    padding: 12px 10px 12px 10px;
    margin-right: 350px;
    margin-left:220px;
    margin-top: 50px;
    border-color:;
    border-style: solid;
    text-align: left;
}
.button{
     background-color:none;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    border:1px solid #f2f2f2;
    border-radius: 2px;
    padding:0 16px;
    text-decoration:none;
    margin:11px 4px:    
    min-width: 54px;
    height: 36px;
    color: #757575;
    font-weight: bold;
    margin-top:30px;
}

.googleapps{background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
background-position: -132px -38px;
background-size: 528px 68px;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: default;
display: inline-block;
font-family: arial,sans-serif;
font-size: 13px;
height: 30px;
line-height: 15px;
opacity: 0.85;
outline-color: rgb(0, 0, 0);
outline-style: none;
outline-width: 0px;
text-align:left;
text-decoration: none;
text-decoration-color: rgb(0, 0, 0);
text-decoration-line: none;
text-decoration-style: solid;
vertical-align: middle;
white-space: nowrap;
width: 30px;
}
.user{color: rgb(0, 0, 0);
display: inline;
font-family: arial,sans-serif;
font-size: 13px;
line-height: 24px;
opacity: 0.85;
outline-color: rgb(0, 0, 0);
outline-style: none;
outline-width: 0px;
text-align:right;
text-decoration: none;
text-decoration-color: rgb(0, 0, 0);

text-decoration-style: solid;
vertical-align: middle;
white-space: nowrap;
}
.pic{color: rgb(0, 0, 0);
display: inline;
font-family: arial,sans-serif;
font-size: 13px;
line-height: 24px;
opacity: 0.85;
outline-color: rgb(0, 0, 0);
outline-style: none;
outline-width: 0px;
text-align:right;
text-decoration: none;
text-decoration-color: rgb(0, 0, 0);

text-decoration-style: solid;
vertical-align: middle;
white-space: nowrap;
}
.right-nav{
     list-style-type: none;
color: rgb(34, 34, 34);
display:flex;
float:right;
font-family: arial,sans-serif;
font-size: 16px;
margin-left: 0px;
margin-right: -40px;
margin-top:-160px;
min-width: 223px;
padding-left: 30px;
padding-right: 30px;
text-align:right;


}
.login{background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: -moz-linear-gradient(50% 0%, rgb(67, 135, 253), rgb(70, 131, 234));
background-origin: padding-box;
background-position: 0% 0%;
background-repeat: repeat;
background-size: auto auto;
border-bottom-color: rgb(66, 133, 244);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color: rgb(66, 133, 244);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(66, 133, 244);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(66, 133, 244);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px 0px;
color: rgb(255, 255, 255);
cursor: default;
display: inline-block;
font-family: arial,sans-serif;
font-size: 13px;
font-weight: 700;
line-height: 28px;
outline-color: rgb(255, 255, 255);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 12px;
padding-right: 12px;
padding-top: 0px;
text-align:left;
text-decoration: none;
text-decoration-color: rgb(255, 255, 255);
text-decoration-line: none;
text-decoration-style: solid;
white-space: nowrap;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
}
.footernav{

  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  min-width: 100%;
  bottom: 0;
  position: absolute;}
  a {color:grey;
    margin-right: 15px;
  }
  ul{
    padding: 0 0 0 20px;
  }
  .leftfooter {
    float: left;
    margin: 0;
    
  }
  .rightfooter {
    float: right;
    margin: 0;
    margin-right: 20px;
  }
